// Import Globals
@import "../../../scss/global";

.cookie-message {
    background-color: #e5e5e5;
    z-index: 1001;
    position: fixed;
    width: 100%;
    padding: 50px 0 20px;
    display: none;
    min-height: 120px;
    top: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .75);

    .display-cookie-message & {
        display: block;
    }

    .hide-cookie-message & {
        animation: slide-out 0.3s ease-in-out forwards;
    }

    @keyframes slide-out {
      0%   { transform: translateY(0%); }
      100% { transform: translateY(-110%); }
    }

    p {
        display: inline-block;
        @include font(16, 24, $nspcc-regular);
        color: $color-black;
        vertical-align: top;
        padding-top: 1px;
        text-align: center;

        > a {
            @include font(16, 24, $nspcc-bold);
            color: $color-regal-blue;

            .no-touchevents & {
                &:hover {
                    color: lighten($color-regal-blue, 8);
                }
            }
        }
    }

    .btn {
        &.accept-cookies {
            margin: 30px auto 25px;
        }
    }

    .grid {
        padding: 0 30px;
    }

    .close-cookie-message {
        position: absolute;
        top: 0;
        right: 0;
        transition: all 0.3s;

        > img {
            width: 60px;
            height: 60px;
        }

        .no-touchevents & {
            &:hover {
                > img {
                    opacity: 0.7;
                }
            }
        }
    }
}