<div class="cookie-container">
    <div class="cookie-message">
        <a href="#" class="close-cookie-message">
            <img src="../../../img/check-x.png" />
        </a>
        <div class="grid">
            <p>
                We use cookies on our website to help make sure that you have the best possible experience. By using our website, you're agreeing to our use of cookies. Read our 
            to find out what they're used for and how to change your cookie settings.
            </p>
            <a href="#" class="btn blue accept-cookies">Continue</a>
        </div>
    </div>
</div>


