<section class="related-topics">
    <div class="grid">
        <div class="gray-block"></div>
        <h1>Related topics</h1>
        <div class="slider-related-topics">
            <div v-for="item in carousel.items">
                <div class="bg-white">
                    <img src="../../../img/related-topics-1.jpg"
                         srcset="{{item.imgSrc.x1}} 1x, {{item.imgSrc.x2}} 2x, {{item.imgSrc.x3}} 3x">
                    <h3>{{ item.title }}</h3>
                    <p>{{ item.copy }}</p>
                    <a v-bind:href="item.btnLabel.url" target="_blank" class="btn blue">{{ item.btnLabel.copy }}</a>
                </div>
            </div>
        </div>
        <div class="slider-buttons">
            <div class="slider__prev" v-on:click="prevSlide()">
                <img src="../../../img/slider-btn-bg.png" width="52">
                <svg class="icon-back-arrow">
                    <use xlink:href="/static/img/svg/sprite.svg#icon-back-arrow"></use>
                </svg>
            </div>
            <div class="slider__next" v-on:click="nextSlide()">
                <img src="../../../img/slider-btn-bg.png" width="52">
                <svg class="icon-back-arrow right">
                    <use xlink:href="/static/img/svg/sprite.svg#icon-back-arrow"></use>
                </svg>
            </div>
        </div>
    </div>
</section>
