<header class="header">
    <div class="grid">

        <a href="/" class="back-btn">
            <svg class="icon-back-arrow">
                <use xlink:href="/static/img/svg/sprite.svg#icon-back-arrow"></use>
            </svg>
            <p>Back to home</p>
        </a>

        <p class="share-copy">Share</p>
        <div class="share addthis_toolbox addthis_default_style">
            <a href="#" class="share-link facebook right addthis_button_facebook at300b" title="Facebook">
                <svg class="share-icon icon-header-facebook">
                    <use xlink:href="/static/img/svg/sprite.svg#icon-header-facebook"></use>
                </svg>
            </a>
            <a href="#" class="share-link twitter right addthis_button_twitter at300b" title="Twitter">
                <svg class="share-icon icon-header-twitter">
                    <use xlink:href="/static/img/svg/sprite.svg#icon-header-twitter"></use>
                </svg>
            </a>
            <a href="#" class="share-link google right addthis_button_google_plusone_share at300b" title="Google+" target="_blank">
                <svg class="share-icon icon-header-gplus">
                    <use xlink:href="/static/img/svg/sprite.svg#icon-header-gplus"></use>
                </svg>
            </a>
            <a href="#" class="share-link email addthis_button_email at300b" target="_blank" title="Email" >
                <svg class="share-icon icon-header-mail">
                    <use xlink:href="/static/img/svg/sprite.svg#icon-header-mail"></use>
                </svg>
            </a>
        </div>
    </div>
</header>