// Import Mixins
@import "../../../scss/__mixins/mq"; // Media Queries
@import "../../../scss/__mixins/rg"; // Responsive Grids
@import "../../../scss/__mixins/mixins"; // Useful Mixins

// // Import Base Styles
@import "../../../scss/__base/normalize";
@import "../../../scss/__base/variables";
@import "../../../scss/__base/z-index";
@import "../../../scss/__base/helpers";
@import "../../../scss/__base/layout";
@import "../../../scss/__base/base";
@import "../../../scss/__base/accessibility";
@import "../../../scss/__base/colours";
@import "../../../scss/__base/fonts";
@import "../../../scss/__base/buttons";
@import "../../../scss/__base/form";
@import "../../../scss/__base/animations";
// @import "../../../scss/__base/loaders";

@import "../page-global/page-global";


.page-home {

    header {
        display: none;

        .back-btn {
            display: none;
        }

        @include mq($from: tablet) {
            display: flex;
        }
    }

    .hero {
        top: 0;
        @include mq($from: tablet) {
            top: 72px;
        }
        @include mq($from: desktop) {
            top: 86px;
        }
    }

    .btn {
        margin: 45px auto 25px
    }


    h4 {
        @include font(22, 22, $nspcc-semibold);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 10px 0 20px;

        > img {
            height: 44px;
            width: inherit;
            margin: 10px 0;
        }

        @include mq($from: desktop) {
            flex-direction: row;
            padding: 0;
            > img {
                padding: 0;
            }
        }
    }
}