<header class="header">
    <div class="grid">
        <div class="share">
            <a href="#" class="facebook" title="Facebook">
                <svg class="share-icon icon-header-facebook">
                    <use xlink:href="/static/img/svg/sprite.svg#icon-header-facebook"></use>
                </svg>
            </a>
            <a href="#" class="twitter" title="Twitter">
                <svg class="share-icon icon-header-twitter">
                    <use xlink:href="/static/img/svg/sprite.svg#icon-header-twitter"></use>
                </svg>
            </a>
            <a href="#" class="google" title="Google+" target="_blank">
                <svg class="share-icon icon-header-gplus">
                    <use xlink:href="/static/img/svg/sprite.svg#icon-header-gplus"></use>
                </svg>
            </a>
            <a href="#" class="email" target="_blank" title="Email" >
                <svg class="share-icon icon-header-mail">
                    <use xlink:href="/static/img/svg/sprite.svg#icon-header-mail"></use>
                </svg>
            </a>
        </div>
    </div>
</header>